@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-montserrat text-base font-medium;
  }
}

.cl-signUp-start {
  padding: 30px 30px;
}

.cl-card {
  display: block;
}

.cl-main {
  margin-top: 50px;
}

.cl-footer {
  margin-top: 15px;
}

.cl-formButtonPrimary {
  background-color: #0a1930;
}

.cl-formButtonPrimary:hover {
  background-color: #0a1930;
}

.cl-internal-b3fm6y {
  background-color: #0a1930;
}

.cl-footerActionLink {
  color: #0a1930;
}

.cl-footerActionLink:hover {
  color: #0a1930;
  text-decoration: underline;
}

.cl-identityPreview {
  margin-top: 20px;
}
